[Unit]
Description=Listen Indexer Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=listen-indexer
Group=listen-indexer
Restart=always
RestartSec=1
Environment=IS_SYSTEMD_SERVICE=1
EnvironmentFile=/etc/listen-indexer/environment
Environment=RUST_LOG=info
WorkingDirectory=/opt/listen-indexer
ExecStart=/usr/local/bin/indexer
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target