# flyctl launch added from .gitignore
**/product.md
**/raydium.json
**/*.csv
**/.ipynb_checkpoints
**/__pycache__
**/instance
**/.vscode
**/*.log
**/.env
**/*.json
**/out.stacks
**/flame-graph.html
**/flamegraph.svg
**/data
**/target
**/.vercel

# flyctl launch added from frontend/.gitignore
# Logs
frontend/**/logs
frontend/**/*.log
frontend/**/npm-debug.log*
frontend/**/yarn-debug.log*
frontend/**/yarn-error.log*
frontend/**/pnpm-debug.log*
frontend/**/lerna-debug.log*

frontend/**/node_modules
frontend/**/dist
frontend/**/dist-ssr
frontend/**/*.local

# Editor directories and files
frontend/**/.vscode/*
!frontend/**/.vscode/extensions.json
frontend/**/.idea
frontend/**/.DS_Store
frontend/**/*.suo
frontend/**/*.ntvs*
frontend/**/*.njsproj
frontend/**/*.sln
frontend/**/*.sw?

# flyctl launch added from frontend/dist/.gitignore
frontend/dist/**/.vercel

# flyctl launch added from frontend/node_modules/tailwindcss/stubs/.gitignore
!frontend/node_modules/tailwindcss/stubs/**/*

# flyctl launch added from pump-ts/.gitignore
# Based on https://raw.githubusercontent.com/github/gitignore/main/Node.gitignore

# Logs

pump-ts/**/logs
pump-ts/**/_.log
pump-ts/**/npm-debug.log_
pump-ts/**/yarn-debug.log*
pump-ts/**/yarn-error.log*
pump-ts/**/lerna-debug.log*
pump-ts/**/.pnpm-debug.log*

# Caches

pump-ts/**/.cache

# Diagnostic reports (https://nodejs.org/api/report.html)

pump-ts/**/report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# Runtime data

pump-ts/**/pids
pump-ts/**/_.pid
pump-ts/**/_.seed
pump-ts/**/*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover

pump-ts/**/lib-cov

# Coverage directory used by tools like istanbul

pump-ts/**/coverage
pump-ts/**/*.lcov

# nyc test coverage

pump-ts/**/.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)

pump-ts/**/.grunt

# Bower dependency directory (https://bower.io/)

pump-ts/**/bower_components

# node-waf configuration

pump-ts/**/.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)

pump-ts/**/build/Release

# Dependency directories

pump-ts/**/node_modules
pump-ts/**/jspm_packages

# Snowpack dependency directory (https://snowpack.dev/)

pump-ts/**/web_modules

# TypeScript cache

pump-ts/**/*.tsbuildinfo

# Optional npm cache directory

pump-ts/**/.npm

# Optional eslint cache

pump-ts/**/.eslintcache

# Optional stylelint cache

pump-ts/**/.stylelintcache

# Microbundle cache

pump-ts/**/.rpt2_cache
pump-ts/**/.rts2_cache_cjs
pump-ts/**/.rts2_cache_es
pump-ts/**/.rts2_cache_umd

# Optional REPL history

pump-ts/**/.node_repl_history

# Output of 'npm pack'

pump-ts/**/*.tgz

# Yarn Integrity file

pump-ts/**/.yarn-integrity

# dotenv environment variable files

pump-ts/**/.env
pump-ts/**/.env.development.local
pump-ts/**/.env.test.local
pump-ts/**/.env.production.local
pump-ts/**/.env.local

# parcel-bundler cache (https://parceljs.org/)

pump-ts/**/.parcel-cache

# Next.js build output

pump-ts/**/.next
pump-ts/**/out

# Nuxt.js build / generate output

pump-ts/**/.nuxt
pump-ts/**/dist

# Gatsby files

# Comment in the public line in if your project uses Gatsby and not Next.js

# https://nextjs.org/blog/next-9-1#public-directory-support

# public

# vuepress build output

pump-ts/**/.vuepress/dist

# vuepress v2.x temp and cache directory

pump-ts/**/.temp

# Docusaurus cache and generated files

pump-ts/**/.docusaurus

# Serverless directories

pump-ts/**/.serverless

# FuseBox cache

pump-ts/**/.fusebox

# DynamoDB Local files

pump-ts/**/.dynamodb

# TernJS port file

pump-ts/**/.tern-port

# Stores VSCode versions used for testing VSCode extensions

pump-ts/**/.vscode-test

# yarn v2

pump-ts/**/.yarn/cache
pump-ts/**/.yarn/unplugged
pump-ts/**/.yarn/build-state.yml
pump-ts/**/.yarn/install-state.gz
pump-ts/**/.pnp.*

# IntelliJ based IDEs
pump-ts/**/.idea

# Finder (MacOS) folder config
pump-ts/**/.DS_Store

# flyctl launch added from ts-sdk/.gitignore
# Based on https://raw.githubusercontent.com/github/gitignore/main/Node.gitignore

# Logs

ts-sdk/**/logs
ts-sdk/**/_.log
ts-sdk/**/npm-debug.log_
ts-sdk/**/yarn-debug.log*
ts-sdk/**/yarn-error.log*
ts-sdk/**/lerna-debug.log*
ts-sdk/**/.pnpm-debug.log*

# Caches

ts-sdk/**/.cache

# Diagnostic reports (https://nodejs.org/api/report.html)

ts-sdk/**/report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# Runtime data

ts-sdk/**/pids
ts-sdk/**/_.pid
ts-sdk/**/_.seed
ts-sdk/**/*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover

ts-sdk/**/lib-cov

# Coverage directory used by tools like istanbul

ts-sdk/**/coverage
ts-sdk/**/*.lcov

# nyc test coverage

ts-sdk/**/.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)

ts-sdk/**/.grunt

# Bower dependency directory (https://bower.io/)

ts-sdk/**/bower_components

# node-waf configuration

ts-sdk/**/.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)

ts-sdk/**/build/Release

# Dependency directories

ts-sdk/**/node_modules
ts-sdk/**/jspm_packages

# Snowpack dependency directory (https://snowpack.dev/)

ts-sdk/**/web_modules

# TypeScript cache

ts-sdk/**/*.tsbuildinfo

# Optional npm cache directory

ts-sdk/**/.npm

# Optional eslint cache

ts-sdk/**/.eslintcache

# Optional stylelint cache

ts-sdk/**/.stylelintcache

# Microbundle cache

ts-sdk/**/.rpt2_cache
ts-sdk/**/.rts2_cache_cjs
ts-sdk/**/.rts2_cache_es
ts-sdk/**/.rts2_cache_umd

# Optional REPL history

ts-sdk/**/.node_repl_history

# Output of 'npm pack'

ts-sdk/**/*.tgz

# Yarn Integrity file

ts-sdk/**/.yarn-integrity

# dotenv environment variable files

ts-sdk/**/.env
ts-sdk/**/.env.development.local
ts-sdk/**/.env.test.local
ts-sdk/**/.env.production.local
ts-sdk/**/.env.local

# parcel-bundler cache (https://parceljs.org/)

ts-sdk/**/.parcel-cache

# Next.js build output

ts-sdk/**/.next
ts-sdk/**/out

# Nuxt.js build / generate output

ts-sdk/**/.nuxt
ts-sdk/**/dist

# Gatsby files

# Comment in the public line in if your project uses Gatsby and not Next.js

# https://nextjs.org/blog/next-9-1#public-directory-support

# public

# vuepress build output

ts-sdk/**/.vuepress/dist

# vuepress v2.x temp and cache directory

ts-sdk/**/.temp

# Docusaurus cache and generated files

ts-sdk/**/.docusaurus

# Serverless directories

ts-sdk/**/.serverless

# FuseBox cache

ts-sdk/**/.fusebox

# DynamoDB Local files

ts-sdk/**/.dynamodb

# TernJS port file

ts-sdk/**/.tern-port

# Stores VSCode versions used for testing VSCode extensions

ts-sdk/**/.vscode-test

# yarn v2

ts-sdk/**/.yarn/cache
ts-sdk/**/.yarn/unplugged
ts-sdk/**/.yarn/build-state.yml
ts-sdk/**/.yarn/install-state.gz
ts-sdk/**/.pnp.*

# IntelliJ based IDEs
ts-sdk/**/.idea

# Finder (MacOS) folder config
ts-sdk/**/.DS_Store

# flyctl launch added from txlisten/.gitignore
txlisten/**/*.json

# flyctl launch added from watcher/.pytest_cache/.gitignore
# Created by pytest automatically.
watcher/.pytest_cache/**/*
fly.toml
