debug
listen-redis
test-req.sh
*.pem
.vite
.DS_Store
terraform.tfvars
.substreams.env
dump.rdb
FAST.json
product.md
raydium.json
*.csv
.ipynb_checkpoints
__pycache__
instance
.vscode
*.log
.env
out.stacks
flame-graph.html
flamegraph.svg
target
.vercel
fuck.json
ai.json
auth.json
book
ansible/inventory
