dump.rdb
FAST.json
product.md
raydium.json
*.csv
.ipynb_checkpoints
__pycache__
instance
.vscode
*.log
.env
out.stacks
flame-graph.html
flamegraph.svg
data
target
.vercel
fuck.json
ai.json
auth.json

# Added by substreams init# substreams auth file
.substreams.env
# Compiled source files
target/
# Sink data when running any sinker
sink-data/
# The spkg packed by the subtreams cli
*.spkg
