[Unit]
Description=Listener Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/listen listener-service
Restart=on-failure

[Install]
WantedBy=multi-user.target
