[Unit]
Description=Listen Engine Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=listen-engine
Group=listen-engine
Restart=always
RestartSec=1
Environment=IS_SYSTEMD_SERVICE=1
Environment=RUST_LOG=info
Environment=NO_COLOR=1
Environment=RUST_LOG_STYLE=never
Environment=RUST_SPANTRACE_STYLE=never
EnvironmentFile=/etc/listen-engine/environment
WorkingDirectory=/opt/listen-engine
ExecStart=/usr/local/bin/engine

StandardOutput=journal
StandardError=journal
SyslogIdentifier=listen-engine

[Install]
WantedBy=multi-user.target
