[Unit]
Description=Listen Adapter Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=listen-adapter
Group=listen-adapter
SupplementaryGroups=ssl-cert
Restart=always
RestartSec=1
EnvironmentFile=/etc/listen-adapter/environment
WorkingDirectory=/opt/listen-adapter

# Run pre-start checks
ExecStartPre=/bin/sh -c 'ls -l $SSL_CERT_PATH $SSL_KEY_PATH'
ExecStartPre=/bin/sh -c 'groups'
ExecStart=/usr/local/bin/adapter

[Install]
WantedBy=multi-user.target 
