@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "SF Mono Nerd Font";
  src: url("/sf-mono.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

html,
body,
code {
  font-family: "SF Mono Nerd Font", monospace;
}

body {
  color: var(--foreground);
  background: var(--background);
}
