@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF Mono Nerd Font";
  src: url("/sf-mono.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

html,
body,
code {
  font-family: "SF Mono Nerd Font", monospace;
}
